body{
  background-image: url(https://cdn.pixabay.com/photo/2016/06/02/02/38/mesh-1430108_960_720.png);
  background-size: 100%;
  color:white;
  /*
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  */
  font: normal 18px Arial, Helvetica, sans-serif;
  line-height: 1.9em;
}

.container{

  width: 80%;
  margin: auto;
}

h1{
  font-family: fantasy;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  word-spacing: 0.5em;
}


.box-0{
  border-top: skyblue 3px double;
  padding: 5px;
  margin: 5px 0;
}

.box-1{
  border-top: skyblue 3px double;
  padding: 5px;
  margin: 5px 0;
}

.box-2{
  border-top: skyblue 3px double;
  padding: 5px;
  margin: 5px 0;
}

.box-3{
  border-top: skyblue 3px double;
  padding: 5px;
  margin: 5px 0;
}


button {
  
  top: 8px;
  right: 16px;
  float: right;
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    margin: auto;
  
}


.btn-github {
   

}
